:root {
    --cor-fundo: rgb(67, 67, 208);
    --cor-branca: white;
    --cor-preta: black;
    --cor-verde: green;
    --cor-vermelho: red;
}

body {
    background-color: var(--cor-fundo);
}

header {
    color: var(--cor-branca);
    text-align: center;
    text-shadow: 2px 2px 3px var(--cor-preta);
}

section {
    margin: 0 auto;
    padding: 15px;
    width: 300px;
    background-color: var(--cor-branca);
    box-shadow: 2px 2px 3px var(--cor-cinza);
    color: var(--cor-preta);
    border-radius: 5px;
    text-align: center;
}

input {
    margin: 5px;
}

button {
    margin: 10px;
    padding: 3px;
}

footer {
    color: var(--cor-branca);
    text-align: center;
    text-shadow: 2px 2px 3px var(--cor-preta);
}

.verde {
    color: var(--cor-verde);
}

.vermelho {
    color: var(--cor-vermelho);
}